#root {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  border: none;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.app {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-conteiner {
  display: flex;
  flex-direction: column;
}
.eyeclosed {
  position: relative;
  display: flex;
  flex-direction: column;
}

.eye {
  position: absolute;
  top: 20px;
  right: 10px;
}

input {
  border: 2px solid grey;
  box-sizing: border-box;
  padding-left: 15px;
  border-radius: 10px;
  width: 350px;
  height: 60px;
  margin-bottom: 30px;
  font-size: 16px;
}

.stepTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 40px;
}

.recap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 150px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 10px;
}
input.button {
  width: 350px;
  height: 60px;
  background-color: darkorchid;
  font-size: 24px;
  color: white;
  font-weight: 700;
}

button {
  width: 350px;
  height: 60px;
  background-color: darkorchid;
  font-size: 24px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}
.titre {
  margin-bottom: 5px;
}
p {
  font-size: 18px;
  margin: 15px;
}
footer {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

footer span {
  font-weight: 700;
}

.error {
  font-size: 14px;
}
